
*.db
temperatures.txt
.vs/ReflowPID_Tuner/v16/.suo
x64/Debug/ConsoleApplication1.log
x64/Debug/ConsoleApplication1.vcxproj.FileListAbsolute.txt
x64/Debug/main.obj
x64/Debug/ReflowPID_Tuner.exe
x64/Debug/ReflowPID_Tuner.exe.recipe
x64/Debug/ReflowPID_Tuner.ilk
x64/Debug/ReflowPID_Tuner.pdb
x64/Debug/ReflowPID_Tuner.tlog/CL.command.1.tlog
x64/Debug/ReflowPID_Tuner.tlog/CL.read.1.tlog
x64/Debug/ReflowPID_Tuner.tlog/CL.write.1.tlog
x64/Debug/ReflowPID_Tuner.tlog/link.command.1.tlog
x64/Debug/ReflowPID_Tuner.tlog/link.read.1.tlog
x64/Debug/ReflowPID_Tuner.tlog/link.write.1.tlog
x64/Debug/ReflowPID_Tuner.tlog/ReflowPID_Tuner.lastbuildstate
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
